<h2 mat-dialog-title>Register</h2>
<mat-dialog-content>
    <mat-stepper labelPosition="bottom" #baseRegister>
        <mat-step [stepControl]="baseRegisterForm">
            <form [formGroup]="baseRegisterForm">
                <ng-template matStepLabel
                    >Fill out information about your group</ng-template
                >
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input
                        matInput
                        placeholder=""
                        formControlName="name"
                        required
                    />
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <div>
                <ng-template matStepLabel
                    >Choose an administrator for your group account.
                </ng-template>
                <app-register
                    (userRegister)="getUserRegisterData($event)"
                ></app-register>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="baseRegister.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>
