:root {
    --primaryColor: #3c445d;
    --primaryVariant: #495371;
    --primaryLightColor: #63719c;

    --secondaryColor: #98b4aa;
    --secondaryVariant: #6b9486;

    --errorColor: #ff471a;
    --warnColor: #ff9900;
    --successColor: #33cc33;

    --onPrimary: #ffffff;

    --primaryVariantSurface: #282d3e;
    --primaryLightVariantSurface: #505b7c;
    --secondaryVariantSurface: #364a43;
}
