<p *ngIf="showLoginError">
    <ion-text color="danger" class="error-message"
        ><ion-icon name="close-circle-outline"></ion-icon>
        {{ errorMsg }}</ion-text
    >
</p>
<form [formGroup]="loginForm">
    <!-- Email Input-->
    <ion-item class="email">
        <ion-label position="floating">Email</ion-label>
        <ion-input id="email" formControlName="email" type="email"></ion-input>
    </ion-item>
    <div
        *ngIf="
            loginForm.controls['email'].invalid &&
            (loginForm.controls['email'].dirty ||
                loginForm.controls['email'].touched)
        "
    >
        <mat-error *ngIf="loginForm.controls['email'].errors?.['required']">
            Email is required.
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].errors?.['pattern']">
            Email can not be empty.
        </mat-error>
    </div>

    <!-- Password Input-->
    <ion-item class="password">
        <ion-label position="floating">Password</ion-label>
        <ion-input
            id="password"
            formControlName="password"
            type="password"
        ></ion-input>
    </ion-item>
    <div
        *ngIf="
            loginForm.controls['password'].invalid &&
            (loginForm.controls['password'].dirty ||
                loginForm.controls['password'].touched)
        "
    >
        <mat-error *ngIf="loginForm.controls['password'].errors?.['required']">
            Password is required.
        </mat-error>
    </div>

    <ion-button
        expand="block"
        class="login-btn"
        [disabled]="!loginForm.valid"
        (click)="login()"
    >
        Login
    </ion-button>
</form>
