<ng-container
    *ngIf="{
        device: device$ | ngrxPush
    } as data"
>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title size="large" *ngIf="data.device?.type === 'Desktop'">
                <div class="title-container">
                    <span class="header-title title-item"> Projetcs</span>
                </div>
            </ion-title>

            <ion-title *ngIf="data.device?.type !== 'Desktop'">
                <div class="title-container">
                    <span class="top-header-title"> Gyomu - Projects </span>
                </div>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">
                    <div class="title-container">
                        <span class="header-title title-item"> Projects</span>
                    </div>
                </ion-title>
            </ion-toolbar>
        </ion-header>

        <p>PROJECTS COMING SOON...</p>
    </ion-content>
</ng-container>
